body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
}

/* Header */

header {
  background-color: #151515;
  border-bottom: #555 solid 1px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  color: #ffdb70;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#title:hover {
  color: #fafafa;
}

#nav {
  color: #d6d6d6;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#nav li {
  position: relative;
}

#nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #d6d6d6;
}

#nav a:hover {
  color: #151515;
  background-color: #ffdb70;
}

#nav a:hover .svg-drop {
  fill: #151515;
}

#nav .svg-drop {
  margin-left: 8px;
  width: 16px;
  fill: #d6d6d6;
}

#nav .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  color: #151515;
  background-color: #ffdb70;
  display: none;
  z-index: 1;
}

#nav .dropdown li {
  position: relative;
}

#nav .dropdown a {
  padding: 10px 20px;
  color: #151515;
}

#nav .dropdown a:hover {
  background-color: #ffcb2f;
  color: #151515;
}

/* Jumbotron */

#jumbotron {
  padding: 5rem 0;
  margin-bottom: 0;
  color: #fafafa;
}

#jumbotron .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#jumbotron .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#jumbotron .col-1 {
  flex-basis: 45%;
  position: relative;
}

#jumbotron .col-2 {
  flex-basis: 45%;
}

#jumbotron h1,
#jumbotron p {
  margin-top: 0;
}

#jumbotron p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: #d6d6d6;
}

@media (max-width: 767px) {
  #jumbotron .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #jumbotron .col-1,
  #jumbotron .col-2 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
}

/* Profile Picture */

#profile-picture {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay:hover {
  opacity: 1;
}

#overlay-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Skills */

#skills {
  background-color: #151515;
  border-top: #555 solid 1px;
  border-bottom: #555 solid 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: #fafafa;
}

#skills .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20px;
  max-width: 300px;
}

#skills .feature .svg-image {
  width: 48px;
  height: 100%;
  margin-bottom: 5px;
}

#skills .feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#skills .feature p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #d6d6d6;
}

/*  Main */
#main {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#content {
  flex: 1;
  margin-right: 20px;
}

#content .article {
  background-color: #151515;
  border: #555 solid 1px;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  color: #d6d6d6;
}

.article ul li.experience {
  margin-top: 20px;
  cursor: help;
}

.article h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.article ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.article li {
  margin-bottom: 20px;
}

.article h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.article .experience:hover .subline {
  color: #ffdb70;
}

.article .subline {
  font-style: italic;
  color: #d6d6d680;
  margin-bottom: 10px;
}

.article ul li:first-child {
  margin-top: 0;
}

.article ul li:last-child {
  margin-bottom: 0;
}

.article ul ul {
  margin-left: 20px;
}

.article ul ul li {
  line-height: 1.7;
  margin-bottom: 10px;
}

.article ul ul li:last-child {
  margin-bottom: 0;
}

/* Aside */

#main .separator {
  margin: 25px auto 20px;
  width: 90%;
  height: 1px;
  background-color: #555;
}

#main aside {
  position: sticky;
  top: 20px;
  flex: 0 0 200px;
  height: 100%;
  background-color: #151515;
  border: #555 solid 1px;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  color: #d6d6d6;
}

#aside .identity {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  user-select: none;
}

#aside .identity.show {
  display: flex;
  animation: reveal 0.5s ease-in-out;
}

#aside img {
  border-radius: 50%;
  width: 100px;
}

#aside .name-title {
  text-align: center;
  margin-top: 20px;
}

#aside .name-title h2 {
  color: #fafafa;
  margin: 0 0 10px;
}

#aside .name-title p {
  color: #d6d6d6;
  margin: 0;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Contacts List */

#aside .contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#aside .contact-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

#aside .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(85, 85, 85, 0.5);
  border-radius: 50%;
  margin-right: 10px;
}

#aside .svg-image {
  width: 30px;
  height: 100%;
}

#aside .contact-info {
  display: flex;
  flex-direction: column;
}

#aside .contact-title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #d6d6d6;
}

#aside .contact-link {
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  color: #fafafa;
  text-decoration: none;
}

#aside address {
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  color: #fafafa;
}

#aside .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#aside .social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#aside .social-item:not(:first-child):not(:last-child) {
  margin: 0 10px 0;
}

#aside .social-item .svg-image {
  width: 30px;
  height: 100%;
}

#aside .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

#aside .social-link:hover {
  background-color: #ffdb70;
}

/* Footer */

footer {
  background-color: #151515;
  border-top: #555 solid 1px;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #jumbotron #profile-picture,
  #jumbotron .overlay {
    max-width: 450px;
    margin: 0 auto;
  }

  main {
    flex-direction: column;
  }

  #content {
    margin-right: 0;
  }

  #main .aside {
    display: flex;
    flex: 0 0 100%;
  }

  #aside .identity {
    display: flex;
    animation: reveal 0.5s ease-in-out;
  }
}

@media only screen and (max-width: 600px) {
  #jumbotron .row {
    gap: 10px;
  }

  #jumbotron #profile-picture,
  #jumbotron .overlay {
    max-width: 350px;
    margin: 0 auto;
  }
}
