@font-face {
	font-family: 'Komika Axis';
	src: url(../../assets/fonts/KomikaAxis.woff2) format('woff2'),
	url(../../assets/fonts/KomikaAxis.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}